<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <!-- <span ng-switch="type">
                        <i ng-switch-when="create" class="fa fa-plus" aria-hidden="true"></i>
                        <i ng-switch-when="update" class="fa fa-edit" aria-hidden="true"></i>
                        <i ng-switch-default class="fa fa-window-maximize" aria-hidden="true"></i>
                    </span> -->
            {{ modalTitle }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <ng-content></ng-content>
</div>