<!-- <div class="progress">
  <div class="ng-container">
    <div class="row">
      <div class="ng-container">
        <div class="text-center" style="position: relative;">
          <h4></h4>
          <h4 style="position:absolute;right: 0px;top:0px"> Tổng: 800</h4>
        </div>
        <div class="row">
          <div class="text-center" style="width: 100%;height: 37px;    background-color:#cecece !important;">

            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">

            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="ng-container">
        <div class="text-center" style="position: relative;">
          <h4>Helio1:392</h4>
          <h4 style="position:absolute;right: 0px;top:0px">800</h4>
        </div>
        <div class="row">
          <div class="text-center" style="width: 100%;height: 10px;    background-color:#cecece !important;">

            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">

            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="ng-container">
        <div class="text-center" style="position: relative;">
          <h4>Helio2:350</h4>
          <h4 style="position:absolute;right: 0px;top:0px">1200</h4>
        </div>
        <div class="row">
          <div class="text-center" style="width: 100%;height: 10px;    background-color:#cecece !important;">

            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:50%">

            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="ng-container">
        <div class="text-center" style="position: relative;">
          <h4>QTSC1:392</h4>
          <h4 style="position:absolute;right: 0px;top:0px">980</h4>
        </div>
        <div class="row">
          <div class="text-center" style="width: 100%;height: 10px;    background-color:#cecece !important;">

            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:30%">

            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="ng-container">
        <div class="text-center" style="position: relative;">
          <h4>QTSC2:600</h4>
          <h4 style="position:absolute;right: 0px;top:0px">1500</h4>
        </div>
        <div class="row">
          <div class="text-center" style="width: 100%;height: 10px;    background-color:#cecece !important;">

            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:20%">

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->

<ng-content></ng-content>