<div [@routerTransition]>
    <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col-sm-6">
            <div class="borderChart">
                <h6 class="text-center">Biểu đồ hiện trạng các bãi xe</h6>
                <div class="chartContainer">
                    <app-line-chart [data]="total_Money" [id]="'appline1'">
                        <div class="row">
                            <div id="appline1" style="width: 100%; height: 200px"></div>
                        </div>
                    </app-line-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="borderChart">
                <h6 class="text-center">Biểu đồ doanh thu theo ngày</h6>
                <div class="chartContainer">
                    <app-pie-chart style="width:100%;" [data]="total_money_today" [id]="'pieChar1'" [valueTitle]="'totalMoney'"
                        [categoryTitle]="'centerName'">
                        <div class="row">
                            <div id="pieChar1" style="width: 95%; height: 200px;    margin: auto;"></div>
                        </div>
                    </app-pie-chart>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <div class="borderChart">
                <h6 class="text-center">Biểu đồ doanh thu theo loại xe</h6>
                <div class="chartContainer">
                    <app-clustered-chart [data]="total_MoneyByVehicle" [id]="'clusteredChart1'" [configField]="configChart">
                        <div class="row">
                            <div id="clusteredChart1" style="width: 100%; height: 400px"></div>
                        </div>
                    </app-clustered-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="borderChart">
                <h6 class="text-center">Biểu đồ khách hàng đăng ký mới</h6>
                <div class="chartContainer">
                    <app-axis-chart></app-axis-chart>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="borderChart">
                <h6 class="text-center">Biểu đồ doanh thu theo từng tháng trong năm</h6>
                <app-stack-chart [data]="total_Money_By_Year" [id]="'stackchart1'" [configField]="stackChartConfig">
                    <div class="row">
                        <div id="stackchart1" style="width: 100%; height: 400px"></div>
                    </div>
                </app-stack-chart>
            </div>
        </div>
    </div>
</div>