<body>
    <div class="login" [@routerTransition]>
        <div class="photo"></div>
        <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div id="u" class="form-group">
                <input type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                    class="form-control input-underline input-lg" id="idUserName">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">
                        <div *ngIf="f.username.errors.required">{{'UserNameRequired'|translate}}</div>
                    </div>
                </div>
                <span class="form-highlight"></span> <span class="form-bar"></span>
                <label for="username" class="float-label">Tài khoản</label>
            </div>
            <div id="p" class="form-group">
                <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                    class="form-control input-underline input-lg" id="idPassword">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">{{'PasswordRequired'|translate}}</div>
                </div>

                <span class="form-highlight"></span> <span class="form-bar"></span> <label for="password" class="float-label">Mất
                    khẩu</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="rem"> <label for="rem">Ghi
                    nhớ đăng nhập</label>
                <button id="submit" type="submit" ripple>Đăng nhập</button>
            </div>
        </form>
    </div>
</body>