<!-- <div class="row">
  <div class="col-md-4">
    <input *ngIf="config.filtering" placeholder="Filter all columns" [ngTableFiltering]="config.filtering" class="form-control"
      (tableChanged)="onChangeTable(config)" />
  </div>
</div>-->
<br>
<!-- <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows"
  [columns]="columns">
</ng-table> -->
<table class="table table-bordered table-hover table-custom" st-table st-click="ctrl.onSearch(paging)">
<thead>
  <tr>
    <th class="text-center" style="width: 30px">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-click="ctrl.onCheckAll()" ng-model="ctrl.isCheckAll" />
          <span class="cr">
            <i class="cr-icon fa fa-check"></i>
          </span>
        </label>
      </div>
    </th>
    <th>'LABEL.EVENT.TITLE'</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let item of data; let i = index">
    <td class="text-center">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-click="ctrl.onCheckItem(model.eventId)" ng-model="ctrl.checkBoxes[model.eventId]" />
          <span class="cr">
            <i class="cr-icon fa fa-check"></i>
          </span>
        </label>
      </div>
    </td>
    <td>{{ item.title }}</td>
    <td>{{ item.targerDate }}</td>
    <td>{{ item.location }}</td>
    <!-- <td>{{ model.description }}</td> -->
    <td class="text-center">
      <button type="button" class="btn btn-primary btn-xs" ng-click="ctrl.onUpdate(model)" sm-permission="ROLE.EVENT.UPDATE">
        <i class="fa fa-edit"></i>
      </button>
      <button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.onDelete(model)" sm-permission="ROLE.EVENT.DELETE">
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>
</tbody>
</table>

<app-pagination *ngIf="true" class="pagination-sm" [totalItems]="totalItem" [(page)]="page" [pageSize]="itemsPerPage"
  (onPageChange)="onPageChangeTable($event)">
</app-pagination>
<!-- <pagination *ngIf="config.paging"
            class="pagination-sm"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event">
</pagination> -->
<pre *ngIf="true" class="card card-block card-header">Page: {{page}} / {{totalPage}}</pre>